version: '3.8'
services:
  db:
    image: postgres:15-alpine
    container_name: car_crm_db
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password123
      POSTGRES_DB: car_crm_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: